html, body {
    height: 100%;
}
.content_wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -484px; /* the bottom margin is the negative value of the footer's height */
}
.footer_wrapper, .push {
    height: 484px; /* .push must be the same height as .footer */
}

body, p, li, a, span, input {
    color: #444;
}

label {
    font-family: 'Open Sans';
}

input.error {
    border: 1px solid #F99090;
}

label.error {
    font-weight: 400;
    border: 1px solid #F9CCCC;
}

img.ca_flag {
    display: inherit;
    margin-top: 27px;
    width: 27px;
}

.do-main-menu {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    z-index: 999;
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

ul.dropdown-menu {
    padding: 0;
}

ul.dropdown-menu li a {
    color: #555;
    padding: 10px !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background: #0AACD5 !important;
	color: #FFF !important;
}

.navbar-brand {
	padding: 5px 5px 5px 0;
}

.navbar-header {
    height: 59px;
}

.navbar-collapse {
    padding: 0;
}

a:focus, a:hover {
    color: #0AACD5;
}

header{
	overflow: auto;
}

.home header {
	height: 700px;
}

img.logo {
    height: 50px;
    display: none;
}

.homepage_search {
	background: url('../img/homepage_search_bg_2.jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	height: 700px;
	top: 0;
	width: 100%;
	padding: 385px 0 0 0;
}

.homepage_search .search_wrapper {
	padding: 10px 25px;
	background: rgba(255,255,255,.45);
	border-radius: 2px;
}

.homepage_search #search_location {
    padding: 18px;
    font-size: 16px;
    width: calc(100% - 139px);
    display: inline-block;
}

.homepage_search #submit_form {
    font-size: 16px;
    padding: 19px;
    margin-top: -6px;
    margin-left: 10px;
}

#map {
  width: 100%;
  height: 300px;
}

.content {
	margin: 40px 0;
}

.progress {
    border-radius: 2px;
    box-shadow: none !important;
    height: 10px !important;
}

.progress .bar {
	background: #0AACD5;
	height: 10px;
	transition: all 0.3s ease-in-out;
}

.do-normal-page-title-section {
    padding: 20px 0;
    margin-top: 90px;
    background: #3C3C3C;
}


h1, h2, h3 {
    font-weight: 400;
    font-family: 'Open Sans';
}

h3 {
	font-size: 22px;
}

.do-normal-page-title-section .do-default-page-title h2 {
	font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    color: #FFF;
}

/*.do-normal-page-title-section .do-default-page-title h2:before {
    content: '';
    width: 44px;
    height: 40px;
    background: url(../img/inline_icon.png) no-repeat center center;
    position: absolute;
    top: 3px;
    left: 0;
}*/

.do-normal-page-title-section .do-default-page-title {
	padding-left: 0;
}

.do-social-link-section a {
	padding: 20px 0;
}

.do-footer-bottom {
    color: #777;
}

p, li, span, input {
    font-size: 14px;
}

a {
	font-size: inherit;
	font-weight: inherit;
}

a.fb_login {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 100%;
    background: #3B5998;
    border-radius: 2px;
}

a.fb_login img {
    max-height: 45px;
}

.btn.btn-primary {
    background: #0AACD5;
    border: 0;
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-shadow: none;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    transition: background .2s ease-in-out;
}

.btn.btn-primary:hover, .btn.btn-primary:active {
	background: #0A91B3;
}

.note {
    padding: 10px 15px;
    background: #EEE;
    border-radius: 2px;
    font-size: 15px;
    margin-bottom: 30px;
}

.content a:not(.btn) {
	text-decoration: underline;
	color: #333;
}

.content a:not(.btn):hover {
	color: #0AACD5;
	text-decoration: none;
}

footer {
	background: #343434 url(../img/footer_bg.png) no-repeat;
	background-position: 25% 50%;
}

footer p, footer a {
	color: #888;
}

footer.do-footer .do-footer-top .do-footer-widget ul li a {
    color: #888;
}

footer.do-footer .do-footer-top .do-footer-widget ul li a:hover {
    color: #0AACD5;
}

#scrollUp {
	border-radius: 2px;
}

.do-footer-logo-wrapper img {
    height: 50px;
    margin-top: -22px;
    margin-bottom: -7px;
}

input {
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    color: #555;
}

input#newsletter_email {
	border-radius: 2px 0 0 2px;
	width: calc(100% - 48px);
}

.form-control {
    border-radius: 2px;
    box-shadow: none;
    padding: 10px 15px;
    height: auto;
}

.ui-menu .ui-menu-item {
    padding: 8px 15px;
    border-bottom: 1px solid #EEE;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #0BAED7;
    border: 1px solid #0BAED7;
    color: #FFF;
}

.ui-autocomplete {
    margin-top: -1px;
    border-radius: 0 0 2px 2px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

a.newsletter_signup {
    padding: 5px 10px 6px 12px;
    margin-left: -4px;
    color: #555;
    background: #FFF;
	border: 1px solid #FFF;
    border-radius: 0 2px 2px 0;
}

a.newsletter_signup:hover, a.newsletter_signup:active {
	color: #0AACD5;
}

ul.do-menus li a {
	color: #555;
}

ul.do-menus li a:hover, ul.do-menus li.active a {
    color: #0AACD5;
}

ul.do-menus > li {
    padding: 22px 20px 17px 20px;
    margin-right: 0;
}

ul.do-menus > li.boxed {
	padding: 11px 0 9px 0 !important;
	margin: 0 15px;
}

ul.do-menus > li.boxed a {
	display: block;
    height: 100%;
    width: 100%;
    padding: 10px 20px 9px 20px;
    background: #CCC;
    border-radius: 2px;
}

ul.do-menus > li.boxed a:hover {
	background: #0AACD5;
	color: #FFF;
}

.do-side-menu-opener {
    top: 32px;
}

.do-side-menu-button:hover {
	border-top: 3px solid #0AACD5;
}

.do-side-menu-button:hover:before {
	background-color: #0AACD5;
}

.do-side-menu-button:hover:after {
	background-color: #0AACD5;
}

.do-social-link-section a:hover {
	background-color: #0AACD5 !important;
	border-right: 1px solid #0AACD5;
}


.do-social-link-section a span {
	border: 2px solid #888;
}

.do-social-link-section a span i {
	line-height: 26px;
    padding-left: 6px;
    color: #888;
}

.do-social-link-section a:first-child {
	cursor: default;
	padding: 22px 0 20px;
}

.do-social-link-section a:first-child:hover {
	background: transparent !important;
	color: #c0c0c0;
	border-right: 1px solid #333333;
}


.profile_picture_actions_wrapper {
	text-align: center;
	margin-bottom: 30px;
}

input[type=file] {
    display: inline-block;
}

.service_area {
    padding: 6px 10px;
    background: #EEE;
    margin: 0 10px 10px 0;
    display: inline-block;
    border-radius: 2px;
    color: #555;
}

img#artwork_preview {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

textarea {
	min-height: 205px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 12px 15px;
}


#search_form input#realtor_name {
    border-radius: 2px 2px 0 0;
}

#search_form input#search_location {
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
}


.p-l-0 {
	padding-left: 0 !important;
}

.p-r-0 {
	padding-right: 0 !important;
}

.m-t-0 {
	margin-top: 0 !important;
}

.m-t-90 { /*offset header */
	margin-top: 90px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.display_inline {
    display: inline-block !important;
}


footer.do-footer .do-footer-top .do-footer-about-widget .do-footer-logo-wrapper {
	overflow: visible;
}


.realtor_item {
    background: #FFF;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #EEE;
    border-radius: 2px;
}

.realtor_item table {
	width: 100%;
}

.realtor_item table tr td {
	vertical-align: middle;
}

.realtor_item table tr td:first-child {
	width: 120px;
	text-align: center;
}

.realtor_item table tr td:nth-child(2) {
	padding: 0 20px;
}

.realtor_item table tr td:last-child {
	width: 80px;
	text-align: center;
}

.realtor_item img {
    border-radius: 50%;
    width: 120px;
}

.avg_rating_star, .rating_star {
	background: url(../img/star.png) no-repeat center center;
	background-size: cover;
	display: block;
	height: 60px;
	width: 60px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Open Sans';
	line-height: 65px;
	color: #FFF;
	float: right;
	margin-top: 10px;
}

.realtor_item .num_reviews {
	float: right;
}

.realtor_item .info_item {
    background: #EEE;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    color: #555;
    cursor: pointer;
}

.realtor_item .info_item:hover {
	background: #0AACD5;
	color: #FFF;
}

.realtor_item .info_item a {
	text-decoration: none;
	color: inherit;
}

.realtor_item .info_item a:hover, .realtor_item .info_item a:active {
	color: #FFF;
}

.realtor_item .info_item .fa {
    margin-right: 5px;
    color: inherit;
}

.realtor_item .realtor_name {
    font-weight: 600;
    margin: 0;
}

.realtor_item .realtor_name a {
	text-decoration: none;
}

.realtor_item .agency_name {
    display: block;
    font-size: 13px;
    color: #AAA;
    margin-bottom: 15px;
}


.sidebar .sidebar_widget {
    border: 1px solid #EEE;
    border-radius: 2px;
    text-align: center;
    background-color: #EEE;
    padding: 10px 15px 25px 15px;
}

.sidebar .sidebar_widget_wh {
    border: 1px solid #EEE;
    border-radius: 2px;
    text-align: center;
    padding: 10px 15px 25px 15px;
}

.realtor_search_results {
	text-align: center;
	display: none;
}

.realtor_search_result_item {
    width: 200px;
    height: 280px;
    border: 1px solid #EEE;
    border-radius: 2px;
    padding: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.realtor_search_result_item:hover, .realtor_search_result_item.active {
	border: 5px solid #0A91B3;
}

.realtor_search_result_item img {
    border-radius: 50%;
    width: 120px;
}

.realtor_search_result_item .realtor_name {
    font-weight: 600;
}

.realtor_search_result_item .realtor_name a {
	text-decoration: none;
}

.realtor_search_result_item .agency_name, .realtor_search_result_item .service_area, {
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
}

.realtor_search_result_item .service_area {
    margin: 10px 10px 0 10px;
}

.float_center {
  float: right;
  position: relative;
  left: -50%;
}

.float_center > .realtor_search_results_list {
  position: relative;
  left: 50%;
}

.realtor_search_results_list {
  list-style-type: none;
  margin:0;
  padding:10px 0;
}

.realtor_search_results_list li {
  float: left;
  list-style-type: none;
  margin: 0 6px 12px;
}

.loading_backdrop {
    position: absolute;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    display: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px;
    display: none;
}


.review_item {
    background: #FFF;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #EEE;
    border-radius: 2px;
}

.review_item table {
    width: 100%;
}

.review_item img {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 10px;
}

.review_item table tr td:first-child {
    width: 140px;
    text-align: center;
    padding-right: 15px;
    vertical-align: top;
}

.review_item table tr td:last-child {
	width: 85px;
	text-align: center;
	vertical-align: top;
}

.review_item table tr td:nth-child(2) {
	padding: 0 20px;
	border-left: 1px solid #EEE;
	vertical-align: top;
}

.review_item .name {
	font-weight: 400;
}

.review_item .name, .review_item .num_reviews, .review_item .date_joined {
	display: block;
	margin-bottom: 5px;
}

.review_item .datetime {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

.see_more_text {
    max-height: 110px;
    overflow: hidden;
    display: block;
}

.review_item .review_text {
    font-size: 15px;
}

.review_item .rating_star {
    margin-top: 3px;
    float: none;
    position: relative;
    margin: 0 auto;
}


section.profile_header {
    background: #373737;
    color: #FFF;
    padding: 30px 0;
}

section.profile_header p {
    color: #888;
}

section.profile_header img.profile_picture {
	border-radius: 50%;
    width: 100%;
    max-width: 300px
}

section.profile_header .name {
	font-size: 40px;
	font-weight: 400;
	font-family: 'Open Sans';
	margin-bottom: 15px;
	margin-top: -5px;
}

section.profile_header .name .realtor_badge {
	width: 30px;
}

section.profile_header .agency_logo {
	margin-bottom: 10px;
}

section.profile_header .agency_name {
    color: #888;
}

section.profile_header .info_item {
    padding: 6px 15px;
    margin-right: 5px;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #aaa;
    border: 1px solid #AAA;
    display: block;
    width: 110px;
    margin-bottom: 10px;
}

section.profile_header .info_item:hover {
	background: #0AACD5;
	border: 1px solid #0AACD5;
	color: #FFF;
}

section.profile_header .info_item a {
	text-decoration: none;
	color: inherit;
}

section.profile_header .info_item a:hover, section.profile_header .info_item a:active {
	color: #FFF;
}

section.profile_header .info_item .fa {
    margin-right: 5px;
    color: inherit;
}

.profile_header .avg_rating_star {
    margin-top: 0;
    float: none;
    position: relative;
    display: block;
    margin: 0 auto 10px auto;
}


.star_rating {
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
  float: left;
}
.star_rating * {
  font-size: 40px;
}
.star_rating > input {
  display: none;
}
.star_rating > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 35px;
  white-space: nowrap;
  cursor: pointer;
    margin-bottom: 0;
    line-height: 40px;
}
.star_rating > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: '\2606';
  color: #888;
}
.star_rating > input:checked ~ label:before, .star_rating > input + label:hover ~ label:before, .star_rating > input + label:hover:before {
  content: '\2605';
  color: #0AACD5;
}
.star_rating > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star_rating > .star-cb-clear + label:before {
  width: 40px;
}
.star_rating:hover > input + label:hover ~ label:before, .star_rating:hover > input + label:hover:before {
  content: '\2605';
  color: #0AACD5;
}

#satisfaction_rating {
    float: right;
    font-size: 25px;
    color: #555;
    margin-top: 17px;
}

section.find_out_more {
	background: #343434;
	background-size: cover;
	color: #FFF;
    padding: 20px 0;
}

section.find_out_more h3 {
    font-weight: 400;
    margin: 18px 0;
}

.find_out_more h3 .btn {
    margin-top: -8px;
}

.top_rated_realtors {
	padding: 30px 0;
}

.top_rated_realtors .realtor_item .service_area {
    background: transparent;
    padding: 0;
    margin: 0;
    color: #888;
}

.top_rated_realtors .realtor_item .avg_rating_star {
    margin-top: 5px;
}

.sort_wrapper {
    margin: 20px 0;
}

.sort_wrapper select {
    padding: 5px;
}


.note.no_more_reviews, .note.no_more_realtors {
	display: none;
}

.btn-default {
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 2px;
    box-shadow: none;
    text-shadow: none;

}

.btn-default:hover, .btn-default:active {
	background: #DDD;
	border: 1px solid #DDD;
}

.request_history tr td:last-child {
	padding: 7px 15px;
}


.write_a_review_info img {
	width: 200px;
	border-radius: 50%;
}

.write_a_review_info {
	text-align: center;
}

.or {
    display: block;
    text-align: center;
    margin: 15px;
    color: #888;
}

.or:before {
    content: ' ';
    position: absolute;
    left: 0;
    margin-top: 10px;
    width: 42%;
    background: #CCC;
    height: 1px;
}

.or:after {
    content: ' ';
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 42%;
    background: #CCC;
    height: 1px;
}

header .nav img {
	width: 40px;
	border-radius: 50%;
	margin-right: 5px;
    margin-top: -3px;
}

.nav .dropdown {
    padding: 13px 10px 9px 10px !important;
}

.caret {
	margin-left: 5px;
    margin-top: -1px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: transparent;
	border: none;
}

.do-social-link-section {
    background-color: #383838;
}

.do-main-menu.minified {
    background-color: rgba(255,255,255, 1);
    padding: 0 15px;
}


.country_select .dropdown-menu {
    width: 48px;
    min-width: auto;
}


.nav .dropdown.country_select {
    margin: 14px 0 0 10px;
    padding: 5px 8px;
    border: 1px solid #EEE;
    border-radius: 2px;
}

.alert {
    border-radius: 2px;
    padding: 12px 15px;
    border: none;
}

#profile_picture_preview_wrapper img {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 20px;
}

.profile_picture_upload input, .upload_button input {
    position: fixed;
    top: -1000px;
}

.bulk_clients {
    display: none;
}

.clearfix {
    clear: both;
}

.service_area_city {
    margin-bottom: 15px;
}



.my_reviews tr td:nth-child(3), .my_reviews tr td:nth-child(4) {
    text-align: center;
}

.my_reviews tr td:last-child {
    text-align: center;
    width: 110px;
}

.modal-header .close {
    font-size: 34px;
    margin-top: -4px;
    font-weight: 100;
}


#pricing_table .fa {
    font-size: 26px;
    font-weight: 100;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    width: 36px;
}

#pricing_table .fa.fa-check {
    color: #0A91B3;
    border-color: #0A91B3;
}

#pricing_table .fa.fa-close {
    color: #CCC;
    border-color: #CCC;
}


.modal.fade .modal-dialog {
    margin-top: 5%;
}


a#remove_picture {
    display: inline-block;
    position: absolute;
    font-size: 17px;
    margin-left: -12px;
}


a.write_response, a.edit_response, a.delete_response {
    float: right;
    margin-top: 30px;
    margin-left: 10px;
    text-align: right;
    text-decoration: none !important;
    border: 1px solid #CCC;
    color: #888 !important;
    border-radius: 3px;
    padding: 1px 6px;
}

a.write_response:hover, a.edit_response:hover, a.delete_response:hover {
    color: #555 !important;
    border-color: #888;
}

.write_response_wrapper {
    margin-top: 20px;
}

.write_response_wrapper textarea {
    margin-bottom: 10px;
}

.write_response_wrapper .cancel_response {
    margin: 10px 15px 9px 0;
}

.review_response_wrapper .response_text {
    font-size: 15px;
}

.review_response_wrapper {
    margin-top: 20px;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 10px 15px;
}

.review_response_wrapper a {
    margin-top: 10px;
}


.faq {
    border: 1px solid #DDD;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 0;
}

.faq_question {
    padding: 10px 15px;
    background: #EEE;
}

.faq_answer {
    padding: 10px 15px;
}

.faq_answer p {
    font-size: 16px;
}


span.verified_realtor {
    font-size: 14px;
    color: #0AACD5;
    border: 1px solid #0AACD5;
    border-radius: 2px;
    padding: 6px 10px 4px 6px;
    margin-bottom: 20px;
    display: block;
    width: 180px;
    text-align: center;
}

.verified_realtor img {
    width: 25px;
    margin: -3px 5px 0 0;
}


.more_about_realtor {
    padding: 10px 15px;
}

.more_about_realtor .fa.fa-quote-left {
    margin: 0 5px 0 -15px;
    color: #888;
}

.more_about_realtor .fa.fa-quote-right {
    margin: 0 -15px 0 5px;
    color: #888;
}

.col-*.boxed {
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 20px;
}

.now_what {
    transition: all .2s ease-in-out;
    background: #0AACD5;
    border: 1px solid #0AACD5;
    border-radius: 2px;
    margin-bottom: 20px;
}

.now_what a {
    text-decoration: none !important;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #FFF !important;
}

.now_what .fa {
    font-size: 80px;
    color: #FFF;
    margin: 0 30px 0 10px;
    transition: all .2s ease-in-out;
}

.now_what h2 {
    margin-top: 5px;
}

.now_what h4 {
    font-weight: 400;
}

.now_what table tr td:first-child {
    width: 120px;
    text-align: center;
    vertical-align: center;
}

.now_what:hover {
    background: #0A91B3;
    border: 1px solid #0A91B3;
}


label.plan_duration {
    display: block;
    background: #FAFAFA;
    border: 1px solid #EEE;
    border-radius: 2px;
    padding: 20px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    transition: all .2s ease-in-out;
}

label.plan_duration input {
    margin-right: 10px;
}

label.plan_duration:hover, label.plan_duration.checked {
    border: 1px solid #0AACD5;
    background: #0AACD5;
    color: #FFF;
}


.cc_type_wrapper {
    background: #FAFAFA;
    border: 1px solid #EEE;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

label.cc_type {
    margin: -1px 0;
    padding: 19px;
    transition: all .2s ease-in-out;
}

label.cc_type input {
    margin-right: 10px;
}

label.cc_type:hover, label.cc_type.checked {
    background: #0AACD5;
    color: #FFF;
}

.city_error, label.error {
    padding: 5px 10px;
    color: #C30B0B;
    display: inline-block;
    background: rgba(241, 135, 135, 0.42);
    margin: 5px 0 0 1px;
    border-radius: 2px;
}

.feedback_trigger {
    background: #CCC;
    border-radius: 0 2px 2px 0;
    top: 90px !important;
    height: 88px !important;
}

.feedback_trigger_text {
    letter-spacing: 0 !important;
    right: -17px !important;
    top: 34px !important;
}

.feedback_content {
    top: 90px !important;
    height: 440px !important;
    background: #ddd !important;
    padding: 15px 0 !important;
    border-bottom-right-radius: 2px !important;
    box-shadow: 3px 3px 5px rgba(50,50,50,.3) !important;
}

.feedback_content.feedback_content_closed {
    box-shadow: none !important;
}

.feedback_message {
    border-radius: 2px !important;
    border: 1px solid #DDD !important;
    padding: 5px 10px !important;
}

/* START COMPARISON TABLE STYLES */
#pricing_table {width: 100%; table-layout: fixed; text-align: center; margin: 30px 0; border-collapse: collapse; }
#pricing_table td,
#pricing_table th {padding: 20px; text-align: center; font-size: 16px; vertical-align: middle}
#pricing_table td.rowTitle {
    text-align: left;
    font-weight: 600;
}
#pricing_table td.blank {
    border: none !important;
    background: #FFF !important;
}
.blackbold th {
    font-size: 18px !important; 
    color: #FFF; 
    text-align: center; 
    font-weight: 400; 
    letter-spacing: 1px;
    background: #3C3C3C;
    border-top: 0 !important;
 }
.blackbold th:first-child {
    border-left: 1px solid #3C3C3C;
}

.blackbold th:last-child {
    border-right: 1px solid #3C3C3C;
}
 .blackbold td {border: 1px solid #CCC;} 
 .blackbold td.rowTitle {border-right: 1px solid #CCC}
/* END COMPARISON TABLE STYLES */

#pricing_table .price {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: #FFF;
    line-height: 36px;
}

#pricing_table .price_td {
    padding: 10px !important;
    background: #0A91B3;
    border: 1px solid #0AACD5;
    color: #FFF;
}

#pricing_table .price_td .btn {
    background: #F9F9F9;
    color: #555;
    margin: 10px 0 5px 0;
}

#pricing_table .price_td .btn:hover {
    background: #0A91B3;
    color: #FFF;
}

td.best_value {
    background: #0AACD5;
    border: 0 !important;
    border-radius: 2px 2px 0 0;
    color: #FFF;
    padding: 0 !important;
}

td.current_plan {
    background: #676767;
    border: 0 !important;
    border-radius: 2px 2px 0 0;
    color: #FFF;
    padding: 0 !important;
}

#pricing_table th .btn {
    margin-top: 10px;
}


#pricing_table .downgrade {
    color: #DDD;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-shadow: none;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: 4px;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713';
    position: absolute;
    top: -6px;
    left: 3px;
    font-size: 20px;
    color: #0AACD5;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}