.chart {
  zoom: 1;
  width: 90%;
  margin-left: 10px;
  padding-left: 28px;
}

.chart:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.chart li {
  display: block;
  height: 22px;
  margin-top: 2px;
  position: relative;
}

.chart li:before {
  color: #fff;
  content: attr(title);
  left: -37px;
  position: absolute;
}

.chart li.title:before {
  color: black;
  font-weight: bold;
  left: 0;
}

.chart li:first-child {
  margin-top: 0;
}

.chart li .bar {
  background: #555;
  height: 10px;
}

.chart li .number {
  color: #555;
  font-size: 15px;
  font-weight: bold;
  padding-left: 5px;
  position: absolute;
  top: -1px;
}

.chart li.past .bar {
  background: #aaa;
}

.chart li.past .number {
  color: #aaa;
}
