<meta charset="UTF-8">
<table width="690" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="max-width:690px;padding-top:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:13px;line-height:21px;color:#434343;border-collapse:collapse;background-color:#ffffff;border:1px solid #dddddd;">
							        <tbody><tr>
							            <td colspan="3" width="100%">
							            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f9f9f9" style="padding-top:0px;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:13px;line-height:21px;color:#434343;background-color:#EEE;border-bottom:1px solid #dddddd;">
							              <tbody><tr>
							                <td width="3%"></td>
							                <td width="94%" height="64"><a href="http://findarealtor.net"><img src="http://findarealtor.net/img/logo.png" alt="FindARealtor" title="FindARealtor" border="0" width="210" height="" style="vertical-align:middle;display:block;"></a></td>
							                <td width="3%"></td>
							              </tr>
							            </tbody></table></td>
							        </tr>
							        <tr> 
							          <td colspan="3" width="100%" height="30"></td>
							        </tr>


							        <tr>
							          <td width="3%"></td>
							          <td width="94%">
							            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:13px;line-height:21px;color:#434343;border-collapse:collapse;">
							                <tbody>
							                    <tr>
							                      <td width="60%" valign="top">

							                          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:13px;line-height:21px;color:#434343;border-collapse:collapse;">
							                                <tbody>

							                                  <tr>
							                                      <td width="100%" style="font-size:28px;line-height:36px;color:#434343;">FindARealtor – Sign Up Confirmation</td>
							                                  </tr>
							    
							                                </tbody>
							                          </table>

							                      </td>
							                    </tr>
							                    <tr>
							                    	   <td colspan="2" width="100%" height="10" style="border-collapse:collapse;border-bottom:1px solid #f1f1f1;"></td>
							                    </tr>

							                </tbody>
							            </table>

							          </td>  
							          <td width="3%"></td>
							        </tr>


							        <tr>
							            <td colspan="3" width="100%" height="25"></td>
							        </tr>

							        <tr>
							        	 <td width="3%"></td>

							          	  <td width="94%">
							                  	<p style="padding:0;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:13px;line-height:21px;color:#434343;">

							                  	<strong>Dear ' . $first_name . ' ' . $last_name . ',</strong><br><br>We are delighted to have you on board!<br>To get your account up and running, we just need to confirm that the email address you provided really belongs to you. Please follow the provided link below and you will be forwarded to the login page immediately.<br><br> Confirmation Link: <br><a style="word-break:break-all;" href="https://findarealtor.net/signup_confirmation?type=' . $user_type . '&token=' . $token . '&email=' . $email . '" target="_blank" >https://findarealtor.net/signup_confirmation?type=' . $user_type . '&token=' . $token . '&email=' . $email . '</a><br><br>Sincerely,<br><strong>The FindARealtor Team</strong><br><a href="http://findarealtor.net">findarealtor.net</a>


							                	</p>
							              </td>

							        	   <td width="3%"></td>
							        </tr>


							        <tr>
							          <td colspan="3" width="100%" height="25"></td>
							        </tr>
							 
							      
							        <tr>
							          <td colspan="3" width="100%" height="25" style="border-collapse:collapse;border-bottom:1px solid #f1f1f1;"></td>
							        </tr>
							        <tr bgcolor="#EEE" style="background-color:#EEE; border-top:1px solid #AAA;">

							            	<td width="3%" style="border-top:1px solid #dddddd;"></td>
							              <td width="94%" style="padding:20px 0; border-top:1px solid #dddddd;"><p style="padding:0;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:10px;line-height:12px;color:#989898;">Copyright &copy; ' . date('Y') . ' FindARealtor.net. 
							              </td>
							              <td width="3%" style="border-top:1px solid #dddddd;"></td>
							        </tr>


							      </tbody>

							</table>