<div id="findarealtor_rating" height="35" style="display:none;">
<a href="http://findarealtor.net/realtor.php?id=P57DXN"><img src="http://findarealtor.net/img/logo.png" alt="Reza Karami" id="far_logo" /></a>
<span id="pipe"></span>
<span id="far_rating"></span>
<img src="http://findarealtor.net/img/star.png" id="far_star" />
</div>
<script type="text/javascript" src="http://localhost/realtor/js/embed.js"></script>
<script type="text/javascript" src="http://localhost/realtor/ajax.php?action=embed_rating&id=P57DXN&callback=mycallback"></script>
						

                